@charset "UTF-8";
img { max-width: 100%; height: auto; }

/* portfolio-ナビ */
nav.main-nav01 { height: 49px; }
@media screen and (max-width: 640px) { nav.main-nav01 { display: none; } }

.main-nav01 ul { font-size: 0; overflow: hidden; padding: 0; list-style: none; white-space: nowrap; }
.main-nav01 ul li { display: inline-block; }
.main-nav01 ul li.main-nav-img01 a { line-height: 1.5; display: inline-block; overflow: hidden; width: 135px; height: 0; padding-top: 29px; background-image: url(../img/nav-img/nav_home_01.png); }
.main-nav01 ul li.main-nav-img02 a { line-height: 1.5; display: inline-block; overflow: hidden; width: 145px; height: 0; padding-top: 29px; background-image: url(../img/nav-img/nav_portfolio_top.png); }
.main-nav01 ul li.main-nav-img03 a { line-height: 1.5; display: inline-block; overflow: hidden; width: 135px; height: 0; padding-top: 29px; background-image: url(../img/nav-img/nav_blog.png); }
.main-nav01 ul li.main-nav-img04 a { line-height: 1.5; display: inline-block; overflow: hidden; width: 135px; height: 0; padding-top: 29px; background-image: url(../img/nav-img/nav_contact.png); }

.name-nav-box { position: absolute; display: inline-block; display: table-cell; width: 950px; height: 54px; height: none; margin-top: -21px; margin-bottom: -19px; background-image: url(../img/main-img/bg_portfolio_top.png); background-repeat: no-repeat; }
@media screen and (max-width: 640px) { .name-nav-box { position: static; display: table-cell; max-width: 100%; height: 53px; text-align: center; vertical-align: middle; -webkit-border-radius: 10px 10px 0 0; /* Safari and Chrome */ -moz-border-radius: 10px 10px 0 0; /* Firefox */ border-radius: 10px 10px 0 0; background-color: #8ec31f; background-image: none; } }
.name-nav-box p { font-size: medium; font-weight: bold; margin-left: 35px; }
@media screen and (max-width: 640px) { .name-nav-box p { font-size: 15px; font-weight: 300; max-width: 95%; margin: 0 auto; padding-top: 3px; padding-bottom: 3px; text-align: center; } }

.sub-nav { position: absolute; top: 14px; left: 790px; }
@media screen and (max-width: 640px) { .sub-nav { display: none; } }

.name-nav-box ul.sub-nav01 { font-size: 0; padding: 0; list-style: none; text-align: right; white-space: nowrap; }
.name-nav-box ul.sub-nav01 li { display: inline; margin-left: 5px; }
.name-nav-box ul.sub-nav01 li.sub-nav-img001 a { line-height: 1.5; display: inline-block; overflow: hidden; width: 25px; height: 0; padding-top: 25px; background-image: url(../img/nav-img/sub_nav_home.png); }
.name-nav-box ul.sub-nav01 li.sub-nav-img002 a { line-height: 1.5; display: inline-block; overflow: hidden; width: 25px; height: 0; padding-top: 25px; background-image: url(../img/nav-img/sub_nav_portfolio.png); }
.name-nav-box ul.sub-nav01 li.sub-nav-img003 a { line-height: 1.5; display: inline-block; overflow: hidden; width: 25px; height: 0; padding-top: 25px; background-image: url(../img/nav-img/sub_nav_blog.png); }
.name-nav-box ul.sub-nav01 li.sub-nav-img004 a { line-height: 1.5; display: inline-block; overflow: hidden; width: 25px; height: 0; padding-top: 25px; background-image: url(../img/nav-img/sub_nav_contact.png); }
.name-nav-box ul.sub-nav01 li.sub-nav-img001 a:hover { line-height: 1.5; display: inline-block; overflow: hidden; width: 25px; height: 0; padding-top: 25px; background-image: url(../img/nav-img/sub_nav_home_hover.png); }
.name-nav-box ul.sub-nav01 li.sub-nav-img002 a:hover { line-height: 1.5; display: inline-block; overflow: hidden; width: 25px; height: 0; padding-top: 25px; background-image: url(../img/nav-img/sub_nav_portfolio_hover.png); }
.name-nav-box ul.sub-nav01 li.sub-nav-img003 a:hover { line-height: 1.5; display: inline-block; overflow: hidden; width: 25px; height: 0; padding-top: 25px; background-image: url(../img/nav-img/sub_nav_blog_hover.png); }
.name-nav-box ul.sub-nav01 li.sub-nav-img004 a:hover { line-height: 1.5; display: inline-block; overflow: hidden; width: 25px; height: 0; padding-top: 25px; background-image: url(../img/nav-img/sub_nav_contact_hover.png); }

#pr-box01 { width: 950px; max-width: 950px; padding-top: 53px; padding-bottom: 15px; background: #8ec31f url(../img/main-img/content-img.png) fixed no-repeat center; }
@media screen and (max-width: 640px) { #pr-box01 { max-width: 100%; margin: 0 auto; } }

.slider-box { max-width: 810px; margin: 0 auto; }
@media screen and (max-width: 640px) { .slider-box { max-width: 95%; max-height: 50%; margin: 0 auto; } }

footer { overflow: hidden; width: 950px; margin: 0 auto; margin-bottom: 2em; background-color: #8ec31f; background-image: url(../img/main-img/footer_img_portfolio.png?v=31231); background-repeat: no-repeat; background-position: bottom; }
@media screen and (max-width: 640px) { footer { max-width: 95%; margin: 0 auto; background-size: 100%; } }
footer ul { font-size: x-small !important; margin-left: 28px; padding: 0; }
@media screen and (max-width: 640px) { footer ul { max-width: 100%; margin-left: 0; text-align: center; } }
footer li { display: inline-block; margin-left: 10px; color: #fff; }
footer li a { color: #fff; }
footer li.footer-copy { font-size: x-small !important; float: right; margin: 5px 37px 10px; }
@media screen and (max-width: 640px) { footer li.footer-copy { display: block; float: none; max-width: 100%; margin: 0 auto; margin-top: 5px; margin-right: 0; margin-bottom: 5px; margin-left: 0; text-align: center; } }

@media screen and (max-width: 640px) { .bx-wrapper .bx-pager.bx-default-pager a { width: 95% !important; } }
